@{
    ViewBag.Title = "About";
}
<h2>Mauro Guterres</h2>



<h3>Resumo</h3>

<p>Mauro desenvolve software desde 2014.</p>
<p>Formado Técnico em Informática pela Escola de Educação Profissional Alcides Maya em Porto Alegre - RS</p>
<p>Tendo trabalhado sempre com .NET, adquiriu boa experiência na tecnologia e seus diversos usos.</p>
<p>Começou com Webforms e WinForms, passando também por MVC e WPF.</p>
<p>Hoje tem o objetivo de contribuir em projetos enquanto se atualiza para em breve atuar com DevOps.</p>

<ul>
    <li>Idade: 30 anos</li>
    <li>Cidade: Porto Alegre - RS</li>
    <li><a href="https://github.com/mauroGuterres" target="_blank">Github</a></li>
    <li><a href="https://www.linkedin.com/in/mauro-guterres-4a8b0098/" target="_blank">Linkedin</a></li>
</ul>





